# Join French Crop Usage (FCU) with TAXREF-LD via GEVES scientific names

Join FCU with TAXREF-LD using GEVES as an intermediate because GEVES has most FCU varieties and provides scientific names.
Process:
- join FCU with GEVES: where FCU variety name = GEVES species name
- join only the matched GEVES species names with the scientific names in TAXREF-LD

### Initializations

In [1]:
import json
import os
from string import Template
import pandas as pd
from SPARQLWrapper import SPARQLWrapper, JSON, POST
from time import sleep
from math import isnan, nan

In [2]:
# Initializations
prefixes = '''
prefix api:            <http://ns.inria.fr/sparql-micro-service/api#>
prefix fcu:            <http://ontology.inrae.fr/frenchcropusage/>
prefix owl:            <http://www.w3.org/2002/07/owl#>
prefix rdf:            <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix rdfs:           <http://www.w3.org/2000/01/rdf-schema#>
prefix skos:           <http://www.w3.org/2004/02/skos/core#>
prefix skosxl:         <http://www.w3.org/2008/05/skos-xl#>
prefix taxrefp:        <http://taxref.mnhn.fr/lod/property/>
prefix taxrefrk:       <http://taxref.mnhn.fr/lod/taxrank/>
prefix xsd:            <http://www.w3.org/2001/XMLSchema#>
'''

In [3]:
local_endpoint = 'http://localhost:8080/sparql'
fcu_endpoint = "http://ontology.inrae.fr/frenchcropusage/sparql"
#fcu_endpoint = "http://localhost:8080/sparql"
taxref_endpoint = "https://taxref.mnhn.fr/sparql"
geves_endpoint = "http://graph.i3s.unice.fr/repositories/geves"

In [4]:
def exec_sparql(endpoint, query):
    """
    Execute a SPARQL query and return results as a Pandas DataFrame.
    Invocation uses the HTTP POST method. Requested result format is JSON.

    In case of failure, the function retries up to MAX_ATTEMPTS attempts while waiting increasing time between each attempt.
    An empty DataFrame is returned in case no attempt is successful.
    """
    # Max number of time a SPARQL query can fail before giving up
    MAX_ATTEMPTS = 3

    sparql = SPARQLWrapper(endpoint)
    sparql.setMethod(POST)
    sparql.setReturnFormat(JSON)
    sparql.setQuery(query)
    
    attempt = 1;
    success = False
    while not success and attempt <= MAX_ATTEMPTS:
        try:
            raw_results = sparql.query()
            results = raw_results.convert()
        except:
            print(f'Error while executing SPARQL query (attempt {attempt}/{MAX_ATTEMPTS}).', end=' ')
            if attempt < MAX_ATTEMPTS:
                # Wait a few seconds before next attempt (5, 10, 15, ...)
                print(f'Will retry in {attempt * 5}s.')
                sleep(attempt * 5)
        else:
            success = True
        finally:
            attempt = attempt + 1

    if success:
        if 'head' in results and 'results' in results:
            cols = results['head']['vars']
            out = []
            for row in results['results']['bindings']:
                item = []
                for c in cols:
                    item.append(row.get(c, {}).get('value'))
                out.append(item)
            return pd.DataFrame(out, columns=cols)
        else:
            print('Invalid SPARQL result. Will return empty DataFrame.\n' + str(results))
    else:
        print(f'Unable to execute SPARQL query after {MAX_ATTEMPTS} attempts. Will return empty DataFarme.')
                  
    return pd.DataFrame()            


def dataframe_preview(df, start=0, end=10):
    print("== Number of lines: " + str(df.shape[0]))
    print("== Number of unique values:")
    print(df.nunique())
    display(df[start:end])

---
## Join FCU with GEVES: FCU varieties names = GEVES species

In [9]:
query =  prefixes + '''
select distinct ?fcu_concept ?fcu_name ?fcu_name_type ?geves_lab_spe_dus ?geves_scientific_name where {

    # Query FCU crops
    service <''' + fcu_endpoint + '''> {
        select distinct ?fcu_concept ?fcu_name ?fcu_name_type where {

            # Select only cultivated crops
            <http://ontology.inrae.fr/frenchcropusage/Usages_plantes_cultivees> skos:narrower+ ?fcu_concept.

            # Keep only leaves or their direct parent but not above
            FILTER (NOT EXISTS { ?fcu_concept skos:narrower/skos:narrower ?child. })

            # Get prefered and alternate labels and keep track of the type of label
            ?fcu_concept a skos:Concept.
            { ?fcu_concept skos:prefLabel ?lb. bind("pref" as ?fcu_name_type) }
            UNION
            { ?fcu_concept skos:altLabel  ?lb. bind("alt" as ?fcu_name_type) }

            bind(str(lcase(?lb)) as ?fcu_name)
        } order by ?fcu_concept
    }

    # Query GEVES
    optional {
        service <http://graph.i3s.unice.fr/repositories/geves> {
            [] 
                api:lab_spe_bota ?lab_spe_bota;
                api:lab_spe_dus ?geves_lab_spe_dus.
            bind(str(lcase(?lab_spe_bota))      as ?geves_scientific_name)
            bind(str(lcase(?geves_lab_spe_dus)) as ?geves_species)
        }

        # Match the GEVES species names and the FCU preferred/alternate labels:
        filter (?fcu_name = ?geves_species) 
    }
}'''

In [10]:
%time df_fcu_geves = exec_sparql(local_endpoint, query)

Wall time: 12.2 s

In [11]:
dataframe_preview(df_fcu_geves, end=10)

== Number of lines: 1521
== Number of unique values:
fcu_concept               446
fcu_name                 1481
fcu_name_type               2
geves_lab_spe_dus          89
geves_scientific_name      85
dtype: int64

,fcu_concept,fcu_name,fcu_name_type,geves_lab_spe_dus,geves_scientific_name
0,http://ontology.inrae.fr/frenchcropusage/Abric...,abricotier,pref,Abricotier,prunus armeniaca l.
1,http://ontology.inrae.fr/frenchcropusage/Abric...,abricot,alt,None,None
2,http://ontology.inrae.fr/frenchcropusage/Abric...,abricotier pays,pref,None,None
3,http://ontology.inrae.fr/frenchcropusage/Abric...,abricot pays,alt,None,None
4,http://ontology.inrae.fr/frenchcropusage/Abric...,abricotier des antilles,alt,None,None
5,http://ontology.inrae.fr/frenchcropusage/Abric...,mamey,alt,None,None
6,http://ontology.inrae.fr/frenchcropusage/Abric...,abricotier-pays,alt,None,None
7,http://ontology.inrae.fr/frenchcropusage/Actin...,actinidia,pref,None,None
8,http://ontology.inrae.fr/frenchcropusage/Actin...,groseille de chine,alt,None,None
9,http://ontology.inrae.fr/frenchcropusage/Actin...,kiwi,alt,None,None

In [12]:
#df_fcu_geves.to_csv("result1_fcu_geves.csv", index=False)
df_fcu_geves.to_excel("result1_fcu_geves.xlsx")
#df_fcu_geves = pd.read_csv("result1_fcu_geves.csv")

#### Count only matches

In [13]:
dataframe_preview(df_fcu_geves.dropna())

== Number of lines: 98
== Number of unique values:
fcu_concept              91
fcu_name                 89
fcu_name_type             2
geves_lab_spe_dus        89
geves_scientific_name    85
dtype: int64

,fcu_concept,fcu_name,fcu_name_type,geves_lab_spe_dus,geves_scientific_name
0,http://ontology.inrae.fr/frenchcropusage/Abric...,abricotier,pref,Abricotier,prunus armeniaca l.
13,http://ontology.inrae.fr/frenchcropusage/Ails,ail,pref,Ail,allium sativum l.
21,http://ontology.inrae.fr/frenchcropusage/Amand...,amandier,pref,Amandier,prunus amygdalus bartock
61,http://ontology.inrae.fr/frenchcropusage/Artic...,artichaut,pref,Artichaut,cynara scolymus
62,http://ontology.inrae.fr/frenchcropusage/Artic...,artichaut,pref,Artichaut,cynara cardunculus l.
64,http://ontology.inrae.fr/frenchcropusage/Asperges,asperge,pref,Asperge,asparagus officinalis l.
73,http://ontology.inrae.fr/frenchcropusage/Auber...,aubergine,pref,Aubergine,solanum melongena l.
79,http://ontology.inrae.fr/frenchcropusage/Avoin...,avoine d'hiver,pref,Avoine d'hiver,avena sativa l.
83,http://ontology.inrae.fr/frenchcropusage/Avoin...,avoine nue d'hiver,pref,Avoine nue d'hiver,avena nuda l.
85,http://ontology.inrae.fr/frenchcropusage/Avoin...,avoine nue de printemps,pref,Avoine nue de printemps,avena nuda l.

### Matches:
- FCU: 91 unique concepts, 89 unique labels
- GEVES: 89 unique species, 85 unique scientific names

---
## Join GEVES with TAXREF-LD on scientific name, only on the GEVES species matched with FCU

In [14]:
# SPARQL query to TAXREF-LD to match a single GEVES scientific name (placeholder $geves_scientific_name)
queryTpl = Template(prefixes + '''
select distinct ("$geves_scientific_name" as ?geves_scientific_name) ?taxref_full_name ?taxref_name_type ?taxon ?rank 
from <http://taxref.mnhn.fr/lod/graph/classes/15.0>
from <http://taxref.mnhn.fr/lod/graph/vernacular/15.0>
from <http://taxref.mnhn.fr/lod/graph/concepts>
where {
    ?name
       a                      skos:Concept, <http://rs.tdwg.org/ontology/voc/TaxonName#TaxonName>;
       rdfs:label             ?taxref_full_name.

    { ?name taxrefp:isReferenceNameOf ?taxon. bind("pref" as ?taxref_name_type) }
    union
    { ?name taxrefp:isSynonymOf       ?taxon. bind("alt" as ?taxref_name_type) }

    ?taxon
       taxrefp:hasRank        ?rank.

    # All ranks up to spcecies but not above
    filter (?rank in (
        taxrefrk:Species,  taxrefrk:SemiSpecies, taxrefrk:MicroSpecies, taxrefrk:SubSpecies, taxrefrk:Natio, 
        taxrefrk:Varietas, taxrefrk:SubVarietas, taxrefrk:Forma,        taxrefrk:SubForma,   taxrefrk:FormaSpecies,
        taxrefrk:Linea,    taxrefrk:Clone,       taxrefrk:Race,         taxrefrk:Cultivar,   taxrefrk:Morpha,
        taxrefrk:Abberatio ))

    # TAXREF names have the authority and date, whereas GEVES names do not have the date.
    # => match the GEVES name as a subpart of the TAXREF name
    bind(str(lcase(?taxref_full_name)) as ?taxref_scn_sl)
    filter(strstarts(?taxref_scn_sl, "$geves_scientific_name"))
}
''')

In [17]:
# Set a max number of queries to submit. 0 = unlimited.
MAX_QUERIES = 0

# Result DataFrame
df_geves_taxref = pd.DataFrame()

idx = 1
df_fcu_geves_matched = df_fcu_geves.dropna()
unique_names = df_fcu_geves_matched.geves_scientific_name.unique()
for geves_scientific_name in unique_names:
    query = queryTpl.substitute(geves_scientific_name = geves_scientific_name.strip().lower())
    #print(query)
    
    print(f"---- Running query {idx}/{len(unique_names)} - geves_scientific_name = {geves_scientific_name}")
    %time _df = exec_sparql(taxref_endpoint, query)
    print(f'Number of results: {_df.shape[0]}')
    df_geves_taxref = df_geves_taxref.append(_df)
    
    # Keep track of GEVES names not matched with TAXREF
    if _df.shape[0] == 0:
        nomatch_row = {'taxref_full_name': None, 'taxref_name_type': None, 'taxon': None, 'geves_scientific_name': geves_scientific_name.strip().lower()}
        df_geves_taxref = df_geves_taxref.append(nomatch_row, ignore_index=True)
    
    idx = idx + 1
    if MAX_QUERIES > 0 and idx > MAX_QUERIES:
        break

---- Running query 1/85 - geves_scientific_name = prunus armeniaca l.
Wall time: 8 s
Number of results: 1
---- Running query 2/85 - geves_scientific_name = allium sativum l.
Wall time: 7.6 s
Number of results: 1
---- Running query 3/85 - geves_scientific_name = prunus amygdalus bartock
Wall time: 10.2 s
Number of results: 0
---- Running query 4/85 - geves_scientific_name = cynara scolymus
Wall time: 8.08 s
Number of results: 3
---- Running query 5/85 - geves_scientific_name = cynara cardunculus l.
Wall time: 9.19 s
Number of results: 1
---- Running query 6/85 - geves_scientific_name = asparagus officinalis l.
Wall time: 9.73 s
Number of results: 1
---- Running query 7/85 - geves_scientific_name = solanum melongena l.
Wall time: 9.77 s
Number of results: 1
---- Running query 8/85 - geves_scientific_name = avena sativa l.
Wall time: 8.19 s
Number of results: 1
---- Running query 9/85 - geves_scientific_name = avena nuda l.
Wall time: 8.86 s
Number of results: 1
---- Running query 10/85 - geves_scientific_name = avena strigosa schreb.
Wall time: 9.37 s
Number of results: 1
---- Running query 11/85 - geves_scientific_name = beta vulgaris l. ssp. vulgaris var. alba dc
Wall time: 8.39 s
Number of results: 0
---- Running query 12/85 - geves_scientific_name = beta vulgaris l. ssp. vulgaris var. saccharifera alef.
Wall time: 9.55 s
Number of results: 0
---- Running query 13/85 - geves_scientific_name = beta vulgaris l. ssp. vulgaris var. altissima doell
Wall time: 9.58 s
Number of results: 0
---- Running query 14/85 - geves_scientific_name = triticum durum desf.
Wall time: 8.54 s
Number of results: 1
---- Running query 15/85 - geves_scientific_name = triticum aestivum l.
Wall time: 7.42 s
Number of results: 1
---- Running query 16/85 - geves_scientific_name = ribes nigrum l.
Wall time: 7.68 s
Number of results: 1
---- Running query 17/85 - geves_scientific_name = citrus medica l.
Wall time: 7.63 s
Number of results: 1
---- Running query 18/85 - geves_scientific_name = apium graveolens l.
Wall time: 9.36 s
Number of results: 1
---- Running query 19/85 - geves_scientific_name = prunus cerasus l.
Wall time: 6.88 s
Number of results: 1
---- Running query 20/85 - geves_scientific_name = prunus avium l.
Wall time: 8.54 s
Number of results: 0
---- Running query 21/85 - geves_scientific_name = castanea vulgaris
Wall time: 7.79 s
Number of results: 1
---- Running query 22/85 - geves_scientific_name = cichorium intybus l.
Wall time: 9.35 s
Number of results: 1
---- Running query 23/85 - geves_scientific_name = brassica oleracea l. var. gemmifera zenker
Wall time: 9.79 s
Number of results: 0
---- Running query 24/85 - geves_scientific_name = brassica oleracea l. convar. capitata (l.) alef. var. sabauda l.
Wall time: 9.57 s
Number of results: 0
---- Running query 25/85 - geves_scientific_name = brassica oleracea l. convar. botrytis (l.) alef. var. cymosa duch.
Wall time: 10.2 s
Number of results: 0
---- Running query 26/85 - geves_scientific_name = brassica oleracea l. convar. capitata (l.) alef. var. alba dc.
Wall time: 8.33 s
Number of results: 0
---- Running query 27/85 - geves_scientific_name = brassica oleracea l. convar. capitata (l.) alef. var. rubra (l.) thell.
Wall time: 8.7 s
Number of results: 0
---- Running query 28/85 - geves_scientific_name = brassica pekinensis ( lour. ) rupr.
Wall time: 8.77 s
Number of results: 0
---- Running query 29/85 - geves_scientific_name = brassica oleracea l. convar. botrytis (l.) alef. var. botrytis
Wall time: 8.81 s
Number of results: 0
---- Running query 30/85 - geves_scientific_name = brassica oleracea l. convar. acephala ( dc. ) alef. var. medullosa thell.+ var. viridis
Wall time: 8.56 s
Number of results: 0
---- Running query 31/85 - geves_scientific_name = brassica oleracea l. convar. acephala (dc.) alef. var. gongylodes
Wall time: 9.01 s
Number of results: 0
---- Running query 32/85 - geves_scientific_name = allium schoenoprasum l.
Wall time: 9.22 s
Number of results: 1
---- Running query 33/85 - geves_scientific_name = citrus limon (l.) burm.
Wall time: 8.14 s
Number of results: 1
---- Running query 34/85 - geves_scientific_name = citrus clementina hort. ex. tan.
Wall time: 8.79 s
Number of results: 0
---- Running query 35/85 - geves_scientific_name = brassica napus l.
Wall time: 8.29 s
Number of results: 1
---- Running query 36/85 - geves_scientific_name = cucurbita pepo l.
Wall time: 9.28 s
Number of results: 1
---- Running query 37/85 - geves_scientific_name = foeniculum vulgare mill.
Wall time: 10.2 s
Number of results: 1
---- Running query 38/85 - geves_scientific_name = trigonella foenum-graecum l.
Wall time: 10.2 s
Number of results: 1
---- Running query 39/85 - geves_scientific_name = fragaria xananassa duch.
Wall time: 7.48 s
Number of results: 0
---- Running query 40/85 - geves_scientific_name = rubus idaeus l.
Wall time: 10.1 s
Number of results: 1
---- Running query 41/85 - geves_scientific_name = ribes rubrum l.
Wall time: 7.64 s
Number of results: 1
---- Running query 42/85 - geves_scientific_name = phaseolus coccineus l.
Wall time: 10.2 s
Number of results: 1
---- Running query 43/85 - geves_scientific_name = lactuca sativa l.
Wall time: 8.59 s
Number of results: 1
---- Running query 44/85 - geves_scientific_name = lotus corniculatus l.
Wall time: 9.3 s
Number of results: 1
---- Running query 45/85 - geves_scientific_name = lupinus albus l.
Wall time: 9.49 s
Number of results: 1
---- Running query 46/85 - geves_scientific_name = medicago sativa l.
Wall time: 7.52 s
Number of results: 1
---- Running query 47/85 - geves_scientific_name = valerianella locusta (l.) laterr.
Wall time: 10.3 s
Number of results: 1
---- Running query 48/85 - geves_scientific_name = citrus deliciosa ten.
Wall time: 9.6 s
Number of results: 1
---- Running query 49/85 - geves_scientific_name = cucumis melo l.
Wall time: 7.32 s
Number of results: 1
---- Running query 50/85 - geves_scientific_name = brassica juncea (l.) czern.
Wall time: 7.31 s
Number of results: 1
---- Running query 51/85 - geves_scientific_name = brassica rapa l. subsp. campestris (l.) a. r. clapham
Wall time: 9.23 s
Number of results: 0
---- Running query 52/85 - geves_scientific_name = corylus avellana l.
Wall time: 7.06 s
Number of results: 1
---- Running query 53/85 - geves_scientific_name = juglans regia l.
Wall time: 7.15 s
Number of results: 1
---- Running query 54/85 - geves_scientific_name = allium cepa l.
Wall time: 8.65 s
Number of results: 1
---- Running query 55/85 - geves_scientific_name = citrus sinensis (l.) osb.
Wall time: 8.13 s
Number of results: 0
---- Running query 56/85 - geves_scientific_name = hordeum vulgare l.
Wall time: 8.13 s
Number of results: 1
---- Running query 57/85 - geves_scientific_name = prunus persica (l.) batsch
Wall time: 9.71 s
Number of results: 1
---- Running query 58/85 - geves_scientific_name = petroselinum crispum (mill.) nyman ex a. w. hill
Wall time: 7.86 s
Number of results: 0
---- Running query 59/85 - geves_scientific_name = phacelia tanacetifolia benth.
Wall time: 6.78 s
Number of results: 1
---- Running query 60/85 - geves_scientific_name = allium porrum l.
Wall time: 10.1 s
Number of results: 1
---- Running query 61/85 - geves_scientific_name = beta vulgaris l. ssp. vulgaris var. flavescens dc. f. crispa
Wall time: 8.22 s
Number of results: 0
---- Running query 62/85 - geves_scientific_name = cicer arietinum l.
Wall time: 8.82 s
Number of results: 1
---- Running query 63/85 - geves_scientific_name = pisum sativum l.
Wall time: 7.89 s
Number of results: 1
---- Running query 64/85 - geves_scientific_name = citrus paradisi macf.
Wall time: 9.74 s
Number of results: 0
---- Running query 65/85 - geves_scientific_name = malus domestica borkh.
Wall time: 8.05 s
Number of results: 1
---- Running query 66/85 - geves_scientific_name = cucurbita maxima duchesne
Wall time: 10.4 s
Number of results: 1
---- Running query 67/85 - geves_scientific_name = prunus domestica l.
Wall time: 8.43 s
Number of results: 1
---- Running query 68/85 - geves_scientific_name = raphanus sativus l. var. oleiformis pers.
Wall time: 10.1 s
Number of results: 0
---- Running query 69/85 - geves_scientific_name = raphanus sativus l. var. niger
Wall time: 8.27 s
Number of results: 0
---- Running query 70/85 - geves_scientific_name = lolium × boucheanum kunth
Wall time: 9.24 s
Number of results: 0
---- Running query 71/85 - geves_scientific_name = oryza sativa l.
Wall time: 7.95 s
Number of results: 1
---- Running query 72/85 - geves_scientific_name = onobrychis viciifolia scop.
Wall time: 7.37 s
Number of results: 1
---- Running query 73/85 - geves_scientific_name = sorghum bicolor (l.) moench
Wall time: 8.83 s
Number of results: 1
---- Running query 74/85 - geves_scientific_name = sorghum sudanense (piper)
Wall time: 7.99 s
Number of results: 1
---- Running query 75/85 - geves_scientific_name = sorghum bicolor (l.) x sorghum sudanense (piper)
Wall time: 9.3 s
Number of results: 0
---- Running query 76/85 - geves_scientific_name = citrus reticulata blanco x citrus sinensis (l.) osb.
Wall time: 10.4 s
Number of results: 0
---- Running query 77/85 - geves_scientific_name = solanum lycopersicum l.
Wall time: 7.88 s
Number of results: 1
---- Running query 78/85 - geves_scientific_name = trifolium alexandrinum l.
Wall time: 7.42 s
Number of results: 1
---- Running query 79/85 - geves_scientific_name = trifolium repens l.
Wall time: 7.21 s
Number of results: 1
---- Running query 80/85 - geves_scientific_name = trifolium hybridum l.
Wall time: 9.81 s
Number of results: 1
---- Running query 81/85 - geves_scientific_name = trifolium incarnatum l.
Wall time: 9.48 s
Number of results: 1
---- Running query 82/85 - geves_scientific_name = trifolium michelianum savi var. balansae (boiss.) azn.
Wall time: 8.4 s
Number of results: 0
---- Running query 83/85 - geves_scientific_name = trifolium pratense l.
Wall time: 10.2 s
Number of results: 1
---- Running query 84/85 - geves_scientific_name = ×triticosecale wittm. ex a. camus
Wall time: 7.76 s
Number of results: 0
---- Running query 85/85 - geves_scientific_name = vicia pannonica crantz
Wall time: 8.28 s
Number of results: 1

In [20]:
#df_geves_taxref.to_csv("result2_geves_taxref.csv", index=False)
df_geves_taxref.to_excel("result2_geves_taxref.xlsx")
#df_geves_taxref = pd.read_csv("result2_geves_taxref.csv")

In [21]:
dataframe_preview(df_geves_taxref)

== Number of lines: 87
== Number of unique values:
geves_scientific_name    85
taxref_full_name         59
taxref_name_type          2
taxon                    57
rank                      2
dtype: int64

,geves_scientific_name,taxref_full_name,taxref_name_type,taxon,rank
0,prunus armeniaca l.,"Prunus armeniaca L., 1753",pref,http://taxref.mnhn.fr/lod/taxon/116041,http://taxref.mnhn.fr/lod/taxrank/Species
1,allium sativum l.,"Allium sativum L., 1753",pref,http://taxref.mnhn.fr/lod/taxon/81505,http://taxref.mnhn.fr/lod/taxrank/Species
2,prunus amygdalus bartock,None,None,None,NaN
3,cynara scolymus,"Cynara scolymus L., 1753",pref,http://taxref.mnhn.fr/lod/taxon/93795,http://taxref.mnhn.fr/lod/taxrank/Species
4,cynara scolymus,Cynara scolymus subsp. cardunculus (L.) Bonnie...,alt,http://taxref.mnhn.fr/lod/taxon/93783,http://taxref.mnhn.fr/lod/taxrank/Species
5,cynara scolymus,"Cynara scolymus var. redonensis N.H.F.Desp., 1838",alt,http://taxref.mnhn.fr/lod/taxon/93795,http://taxref.mnhn.fr/lod/taxrank/Species
6,cynara cardunculus l.,"Cynara cardunculus L., 1753",pref,http://taxref.mnhn.fr/lod/taxon/93783,http://taxref.mnhn.fr/lod/taxrank/Species
7,asparagus officinalis l.,"Asparagus officinalis L., 1753",pref,http://taxref.mnhn.fr/lod/taxon/84279,http://taxref.mnhn.fr/lod/taxrank/Species
8,solanum melongena l.,"Solanum melongena L., 1753",pref,http://taxref.mnhn.fr/lod/taxon/124075,http://taxref.mnhn.fr/lod/taxrank/Species
9,avena sativa l.,"Avena sativa L., 1753",pref,http://taxref.mnhn.fr/lod/taxon/85357,http://taxref.mnhn.fr/lod/taxrank/Species

#### Count only matches

In [22]:
dataframe_preview(df_geves_taxref.dropna())

== Number of lines: 59
== Number of unique values:
geves_scientific_name    57
taxref_full_name         59
taxref_name_type          2
taxon                    57
rank                      2
dtype: int64

,geves_scientific_name,taxref_full_name,taxref_name_type,taxon,rank
0,prunus armeniaca l.,"Prunus armeniaca L., 1753",pref,http://taxref.mnhn.fr/lod/taxon/116041,http://taxref.mnhn.fr/lod/taxrank/Species
1,allium sativum l.,"Allium sativum L., 1753",pref,http://taxref.mnhn.fr/lod/taxon/81505,http://taxref.mnhn.fr/lod/taxrank/Species
3,cynara scolymus,"Cynara scolymus L., 1753",pref,http://taxref.mnhn.fr/lod/taxon/93795,http://taxref.mnhn.fr/lod/taxrank/Species
4,cynara scolymus,Cynara scolymus subsp. cardunculus (L.) Bonnie...,alt,http://taxref.mnhn.fr/lod/taxon/93783,http://taxref.mnhn.fr/lod/taxrank/Species
5,cynara scolymus,"Cynara scolymus var. redonensis N.H.F.Desp., 1838",alt,http://taxref.mnhn.fr/lod/taxon/93795,http://taxref.mnhn.fr/lod/taxrank/Species
6,cynara cardunculus l.,"Cynara cardunculus L., 1753",pref,http://taxref.mnhn.fr/lod/taxon/93783,http://taxref.mnhn.fr/lod/taxrank/Species
7,asparagus officinalis l.,"Asparagus officinalis L., 1753",pref,http://taxref.mnhn.fr/lod/taxon/84279,http://taxref.mnhn.fr/lod/taxrank/Species
8,solanum melongena l.,"Solanum melongena L., 1753",pref,http://taxref.mnhn.fr/lod/taxon/124075,http://taxref.mnhn.fr/lod/taxrank/Species
9,avena sativa l.,"Avena sativa L., 1753",pref,http://taxref.mnhn.fr/lod/taxon/85357,http://taxref.mnhn.fr/lod/taxrank/Species
10,avena nuda l.,"Avena nuda L., 1756",pref,http://taxref.mnhn.fr/lod/taxon/85323,http://taxref.mnhn.fr/lod/taxrank/Species

### Matches:
- GEVES: 57 unique scientific names
- TAXREF-LD: 57 unique taxa

=> 32 GEVES names not matched with TAXREF-LD

---
## Join intermediate results: FCU-GEVES and GEVES-TAXREFLD

In [37]:
df_merge = pd.merge(df_fcu_geves, df_geves_taxref, on="geves_scientific_name", how='left')
df_merge.drop_duplicates(inplace=True)
dataframe_preview(df_merge)

== Number of lines: 1523
== Number of unique values:
fcu_concept               446
fcu_name                 1481
fcu_name_type               2
geves_lab_spe_dus          89
geves_scientific_name      85
taxref_full_name           59
taxref_name_type            2
taxon                      57
rank                        2
dtype: int64

,fcu_concept,fcu_name,fcu_name_type,geves_lab_spe_dus,geves_scientific_name,taxref_full_name,taxref_name_type,taxon,rank
0,http://ontology.inrae.fr/frenchcropusage/Abric...,abricotier,pref,Abricotier,prunus armeniaca l.,"Prunus armeniaca L., 1753",pref,http://taxref.mnhn.fr/lod/taxon/116041,http://taxref.mnhn.fr/lod/taxrank/Species
1,http://ontology.inrae.fr/frenchcropusage/Abric...,abricot,alt,None,None,NaN,NaN,NaN,NaN
2,http://ontology.inrae.fr/frenchcropusage/Abric...,abricotier pays,pref,None,None,NaN,NaN,NaN,NaN
3,http://ontology.inrae.fr/frenchcropusage/Abric...,abricot pays,alt,None,None,NaN,NaN,NaN,NaN
4,http://ontology.inrae.fr/frenchcropusage/Abric...,abricotier des antilles,alt,None,None,NaN,NaN,NaN,NaN
5,http://ontology.inrae.fr/frenchcropusage/Abric...,mamey,alt,None,None,NaN,NaN,NaN,NaN
6,http://ontology.inrae.fr/frenchcropusage/Abric...,abricotier-pays,alt,None,None,NaN,NaN,NaN,NaN
7,http://ontology.inrae.fr/frenchcropusage/Actin...,actinidia,pref,None,None,NaN,NaN,NaN,NaN
8,http://ontology.inrae.fr/frenchcropusage/Actin...,groseille de chine,alt,None,None,NaN,NaN,NaN,NaN
9,http://ontology.inrae.fr/frenchcropusage/Actin...,kiwi,alt,None,None,NaN,NaN,NaN,NaN

### Count only matches

In [31]:
dataframe_preview(df_merge.dropna())

== Number of lines: 70
== Number of unique values:
fcu_concept              64
fcu_name                 63
fcu_name_type             2
geves_lab_spe_dus        63
geves_scientific_name    57
taxref_full_name         59
taxref_name_type          2
taxon                    57
rank                      2
dtype: int64

,fcu_concept,fcu_name,fcu_name_type,geves_lab_spe_dus,geves_scientific_name,taxref_full_name,taxref_name_type,taxon,rank
0,http://ontology.inrae.fr/frenchcropusage/Abric...,abricotier,pref,Abricotier,prunus armeniaca l.,"Prunus armeniaca L., 1753",pref,http://taxref.mnhn.fr/lod/taxon/116041,http://taxref.mnhn.fr/lod/taxrank/Species
13,http://ontology.inrae.fr/frenchcropusage/Ails,ail,pref,Ail,allium sativum l.,"Allium sativum L., 1753",pref,http://taxref.mnhn.fr/lod/taxon/81505,http://taxref.mnhn.fr/lod/taxrank/Species
61,http://ontology.inrae.fr/frenchcropusage/Artic...,artichaut,pref,Artichaut,cynara scolymus,"Cynara scolymus L., 1753",pref,http://taxref.mnhn.fr/lod/taxon/93795,http://taxref.mnhn.fr/lod/taxrank/Species
62,http://ontology.inrae.fr/frenchcropusage/Artic...,artichaut,pref,Artichaut,cynara scolymus,Cynara scolymus subsp. cardunculus (L.) Bonnie...,alt,http://taxref.mnhn.fr/lod/taxon/93783,http://taxref.mnhn.fr/lod/taxrank/Species
63,http://ontology.inrae.fr/frenchcropusage/Artic...,artichaut,pref,Artichaut,cynara scolymus,"Cynara scolymus var. redonensis N.H.F.Desp., 1838",alt,http://taxref.mnhn.fr/lod/taxon/93795,http://taxref.mnhn.fr/lod/taxrank/Species
64,http://ontology.inrae.fr/frenchcropusage/Artic...,artichaut,pref,Artichaut,cynara cardunculus l.,"Cynara cardunculus L., 1753",pref,http://taxref.mnhn.fr/lod/taxon/93783,http://taxref.mnhn.fr/lod/taxrank/Species
66,http://ontology.inrae.fr/frenchcropusage/Asperges,asperge,pref,Asperge,asparagus officinalis l.,"Asparagus officinalis L., 1753",pref,http://taxref.mnhn.fr/lod/taxon/84279,http://taxref.mnhn.fr/lod/taxrank/Species
75,http://ontology.inrae.fr/frenchcropusage/Auber...,aubergine,pref,Aubergine,solanum melongena l.,"Solanum melongena L., 1753",pref,http://taxref.mnhn.fr/lod/taxon/124075,http://taxref.mnhn.fr/lod/taxrank/Species
81,http://ontology.inrae.fr/frenchcropusage/Avoin...,avoine d'hiver,pref,Avoine d'hiver,avena sativa l.,"Avena sativa L., 1753",pref,http://taxref.mnhn.fr/lod/taxon/85357,http://taxref.mnhn.fr/lod/taxrank/Species
85,http://ontology.inrae.fr/frenchcropusage/Avoin...,avoine nue d'hiver,pref,Avoine nue d'hiver,avena nuda l.,"Avena nuda L., 1756",pref,http://taxref.mnhn.fr/lod/taxon/85323,http://taxref.mnhn.fr/lod/taxrank/Species

### Matches
- FCU: 64 unique concepts, 63 unique labels
- TAXREF-LD: 57 unique taxa from 2 ranks

### Exports

In [32]:
df_merge.to_excel("result3_fcu_geves_taxref.xlsx")

In [38]:
# Reshape the DataFrame for later merging with other methods
df_merge.dropna(inplace=True)
df_merge.drop(columns=['fcu_name_type', 'fcu_name', 'geves_scientific_name', 'taxref_name_type'], inplace=True)
df_merge.rename(columns={'taxref_full_name': 'taxref_ref_full_name'}, inplace=True)
df_merge.insert(1, 'method', 'geves')
df_merge.rename(columns={"geves_lab_spe_dus": "geves_name"}, inplace=True)
df_merge.insert(3, 'eppo_scientific_name', '')

In [39]:
dataframe_preview(df_merge)
df_merge.to_excel("result3_fcu_geves_taxref_merge.xlsx", index=False)
df_merge.to_csv("result3_fcu_geves_taxref_merge.csv", index=False)

== Number of lines: 70
== Number of unique values:
fcu_concept             64
method                   1
geves_name              63
eppo_scientific_name     1
taxref_ref_full_name    59
taxon                   57
rank                     2
dtype: int64

,fcu_concept,method,geves_name,eppo_scientific_name,taxref_ref_full_name,taxon,rank
0,http://ontology.inrae.fr/frenchcropusage/Abric...,geves,Abricotier,,"Prunus armeniaca L., 1753",http://taxref.mnhn.fr/lod/taxon/116041,http://taxref.mnhn.fr/lod/taxrank/Species
13,http://ontology.inrae.fr/frenchcropusage/Ails,geves,Ail,,"Allium sativum L., 1753",http://taxref.mnhn.fr/lod/taxon/81505,http://taxref.mnhn.fr/lod/taxrank/Species
61,http://ontology.inrae.fr/frenchcropusage/Artic...,geves,Artichaut,,"Cynara scolymus L., 1753",http://taxref.mnhn.fr/lod/taxon/93795,http://taxref.mnhn.fr/lod/taxrank/Species
62,http://ontology.inrae.fr/frenchcropusage/Artic...,geves,Artichaut,,Cynara scolymus subsp. cardunculus (L.) Bonnie...,http://taxref.mnhn.fr/lod/taxon/93783,http://taxref.mnhn.fr/lod/taxrank/Species
63,http://ontology.inrae.fr/frenchcropusage/Artic...,geves,Artichaut,,"Cynara scolymus var. redonensis N.H.F.Desp., 1838",http://taxref.mnhn.fr/lod/taxon/93795,http://taxref.mnhn.fr/lod/taxrank/Species
64,http://ontology.inrae.fr/frenchcropusage/Artic...,geves,Artichaut,,"Cynara cardunculus L., 1753",http://taxref.mnhn.fr/lod/taxon/93783,http://taxref.mnhn.fr/lod/taxrank/Species
66,http://ontology.inrae.fr/frenchcropusage/Asperges,geves,Asperge,,"Asparagus officinalis L., 1753",http://taxref.mnhn.fr/lod/taxon/84279,http://taxref.mnhn.fr/lod/taxrank/Species
75,http://ontology.inrae.fr/frenchcropusage/Auber...,geves,Aubergine,,"Solanum melongena L., 1753",http://taxref.mnhn.fr/lod/taxon/124075,http://taxref.mnhn.fr/lod/taxrank/Species
81,http://ontology.inrae.fr/frenchcropusage/Avoin...,geves,Avoine d'hiver,,"Avena sativa L., 1753",http://taxref.mnhn.fr/lod/taxon/85357,http://taxref.mnhn.fr/lod/taxrank/Species
85,http://ontology.inrae.fr/frenchcropusage/Avoin...,geves,Avoine nue d'hiver,,"Avena nuda L., 1756",http://taxref.mnhn.fr/lod/taxon/85323,http://taxref.mnhn.fr/lod/taxrank/Species